server:
  port: ${SERVER_PORT:8080}  # 使用环境变量，默认8080

jwt:
  secret: ${JWT_SECRET:defaultSecretKey}  # 使用环境变量，默认值为 defaultSecretKey

spring:
  application:
    name: ${SPRING_APPLICATION_NAME:Gateway_Application_Team9}  # 使用环境变量1

  cloud:
    gateway:
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "${CORS_ALLOWED_ORIGINS:http://localhost:3000}"  # 使用环境变量，默认localhost
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true
            exposedHeaders:
              - Authorization
      routes:
        - id: auth-service
          uri: ${AUTH_SERVICE_URL}  # 使用环境变量1
          predicates:
            - Path=/api/auth/**
          filters:
            - StripPrefix=1

        - id: user-service
          uri: ${USER_SERVICE_URL}  # 使用环境变量
          predicates:
            - Path=/api/user/**
          filters:
            - StripPrefix=1

        - id: admin-service
          uri: ${ADMIN_SERVICE_URL}  # 使用环境变量
          predicates:
            - Path=/api/admin/**
          filters:
            - StripPrefix=1

        - id: recipe-service
          uri: ${RECIPE_SERVICE_URL}
          predicates:
            - Path=/api/recipe/**
          filters:
            - StripPrefix=1

        - id: email-service
          uri: ${EMAIL_SERVICE_URL}
          predicates:
            - Path=/api/email/**
          filters:
            - StripPrefix=1

        - id: report-service
          uri: ${REPORT_SERVICE_URL}
          predicates:
            - Path=/api/report/**
          filters:
            - StripPrefix=1

        - id: review-service
          uri: ${REVIEW_SERVICE_URL}
          predicates:
            - Path=/api/review/**
          filters:
            - StripPrefix=1