server:
  port: 8080

jwt:
  secret: bXlTdXBlclNlY3JldEtleUFib3ZlMzJDaGFyYWN0ZXJzQW5kTG9uZw==
spring:
  application:
    name: Gateway_Application_Team9
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/auth/**
          filters:
            - StripPrefix=1

        - id: user-service
          uri: http://localhost:8084
          predicates:
            - Path=/api/user/**
          filters:
            - StripPrefix=1

        - id: admin-service
          uri: http://localhost:8086
          predicates:
            - Path=/api/admin/**
          filters:
            - StripPrefix=1

        - id: recipe-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/recipe/**
          filters:
            - StripPrefix=1

        - id: email-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/email/**
          filters:
            - StripPrefix=1

        - id: report-service
          uri: http://localhost:8085
          predicates:
            - Path=/api/report/**
          filters:
            - StripPrefix=1

        - id: review-service
          uri: http://localhost:8085
          predicates:
            - Path=/api/review/**
          filters:
            - StripPrefix=1
